{% extends "::base.html.twig" %}

{#table#service-table>tr.service-tr>td{serviceName}#}

{% block stylesheets %}
    <link href="{{ asset('bundles/testservice/css/styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <table id="service-table">
    {% for serviceName in serviceNames %}
        <tr class="service-tr">
                <td>{{ serviceName }}</td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}


